#======================== Django ========================
DJANGO_SETTINGS_MODULE=backend.settings.dev
PROJECT_NAME=backend
ENVIRONMENT=development
SECRET_KEY=XXXXXXXX123123123

#======================== MongoDB =======================
MONGO_INITDB_DATABASE=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_DB_HOST=
MONGO_DB_PORT=